body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

img {
    display: block;
}

a {
    color: #2e2f42;
}

/* Header */

.had-container {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo span {   
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding: 24px 0;
}

.nav-menu:not(:last-child) {
    margin-right: 40px;
}

.nav-menu:hover, 
.nav-menu:focus  {
    color: #404bbf;
}

.nav a,
ul {
    gap: 40px;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
}

.address {
    font-style: normal;
    display: flex;
}

.address-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.address-container:not(:last-child) {
    margin-right: 40px;
}

.tel-mail {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    color: #434455;
}

.tel-mail:hover, 
.tel-mail:focus {
    color: #404bbf;
}

/* Main */

.solutions-block {
    background-color: #2e2f42;
    padding: 188px 0;
}

.main-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    max-width: 496px;
}

.order-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    display: block;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-button:hover, 
.order-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* Features */

.features {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

}

.features-list {
    display: flex;
}

.features-list:not(:last-child) {
    gap: 24px;
}

.point {
    width: calc((100% - 72px) / 4);
}

.features-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.p-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Our team */

.our-team-list {
    display: flex;
}

.our-team-list:not(:last-child) {
    gap: 24px;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.our-team-people {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.job-name {
    padding: 32px 0;
}

.our-team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    text-align: center;
    margin-bottom: 8px;
}

.our-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    text-align: center;
}

/* Our Portfolio */

.portolio {
    padding: 120px 0 120px 0;
}

.our-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list:nth-child(2 * 0 + 3), 
.portfolio-list:nth-child(2 * 0 + 6) {
    column-gap: 24px;
}

.portfolio-list:nth-child(2 * 0 + 4), 
.portfolio-list:nth-child(2 * 0 + 5), 
.portfolio-list:nth-child(2 * 0 + 6) {
    row-gap: 48px;
}

.portfolio-point {
    width: calc((100% - 48px) / 3);
}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.portfolio-program {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}